@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
}

.menu1 {
    display: flex;
    background: url(img/header-bg.jpeg);
    /* background-position: 0 -500px; */
    justify-content: center;
    flex-wrap: wrap;
}

.menu1::after {
    content: "";
    background-color: hsla(0, 0%, 0%, 20%);
    position: absolute;
    width: 100%;
    height: 100%;
}

input {
    visibility: hidden;
}

.searching:hover input {
    visibility: visible;
}

.fa {
    background-color: black;
    width: 15px;
    height: 15px;
    color: #ffffff;
    margin-left: 0;
    vertical-align: middle;
    padding: 25px;
}

.navbar {
    background-color: hsla(0, 0%, 0%, 70%);
    width: 100%;
    margin: 0;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 1;
}

.navbar a {
    color: #ffffff;
    align-self: center;
}

.menubar {
    display: flex;
    width: 750px;
    justify-content: space-between;
    z-index: 1;
}

.menubar a {
    font-size: 15pt;
    font-variant: small-caps;
}

.navbar img {
    background-color: #000000;
    padding: 19px;
}

.logo a {
    display: flex;
    justify-content: flex-end;
}

.Tlogo {
    margin-left: 20px;
    color: #ffffff;
    font-family: "open sans semibold";
    align-self: center;
}

.searching {
    display: block;
    position: absolute;
}

.menu1 h2 {
    color: #ffffff;
    font-family: "open sans";
    font-size: 27pt;
    width: 100%;
    align-self: flex-start;
    text-align: center;
    margin-top: 120px;
    z-index: 1;
}

.menu1>a {
    background-color: #89ca62;
    width: 150px;
    height: 25px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    align-self: flex-start;
    margin-bottom: 120px;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
}

.menu1>a:last-of-type {
    background-color: #14b9d5;
}

.menu1>a:hover {
    background-color: #538138;
}

.menu1>a:last-of-type:hover {
    background-color: #0e7385;
}

.container {
    background-color: #f2f2f2;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.menu2 {
    display: flex;
    width: 1170px;
    height: 950px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.container h2 {
    font-variant: small-caps;
    text-align: center;
    font-size: 27pt;
    color: #18b4cf;
}

.menu2 a {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    width: 370px;
}

.text {
    color: #353a3d;
    font-size: 14pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.image {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.Tlogo:hover,
.navbar a:hover {
    color: #14b9d5;
}

.element1 {
    order: 0;
}

.element4 {
    order: 1;
}

.element2 {
    order: 2;
}

.element5 {
    order: 3;
}

.element3 {
    order: 4;
}

.element6 {
    order: 5;
}

.grid1 {
    background: url(img/parallax-bg.jpeg);
    height: 500px;
}

.gridcontainer {
    display: grid;
    grid-template-rows: 590px auto auto auto 80px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


/* .gridcontainer h2 {
    border: 1px solid black;
} */


/* .image2 {
    width: 192.9px;
} */


/*.grid2:nth-child(2) {
    grid-area: image1;
}

.grid2:nth-child(3) {
    grid-area: image2;
}

.grid2:nth-child(4) {
    grid-area: image3;
}

.grid2:nth-child(5) {
    grid-area: image4;
}

.grid2:nth-child(6) {
    grid-area: image5;
}

.grid2:nth-child(7) {
    grid-area: image6;
}

.grid2:nth-child(8) {
    grid-area: image7;
} */


/* .image2 {
    height: 190px;
} */